.btn1 {
  /* height: 50px; */
  border: none;
  font-family: "Lato";
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;

  display: inline-block;

  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.btn1:after {
  content: "";
  /* position: absolute; */
  z-index: -1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.btn1:before {
  font-family: "FontAwesome";
  speak: none;
  /* font-style: normal; */
  /* font-weight: normal; */
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* position: relative; */
  -webkit-font-smoothing: antialiased;
  border-radius: 5px;
}

/* Icon separator */
.btn-sep1 {
  padding: 25px 60px 25px 120px;
}

.btn-sep1:before {
  background: rgb(63, 59, 59, 0.7);
}

/* Button 1 */

/* Button 2 */
.btn21 {
  height: 50px; 
  width: 250px;
  /* height: 50px; */
  background: #d19c97;
  color: #fff;
}

.btn21:hover {
  background: #704844;
}

.btn21:active {
  background: #704844;
  top: 2px;
}

.btn21:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 2.3;
  font-size: 140%;
  width: 60px;
}

.text2 {
    position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Icons */

.icon-cart:before {
  content: "🛒";
  
}
