:root {
  --secondary-bg: #fff;
  --primary-text-color: #555;
  --secondary-text-color: #cecece;
  --border-radius: 8px;
  --speed: 500ms;
}

.ul {
  list-style: none;
  padding: 0;
}

.iconItem {
  text-decoration: none;
}

.menu-trigger .anh1 {
  /* position: absolute; */
  top: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;

}

.dropdown-menu1 {
  z-index: 2;
  position: absolute;
  top: 50px;
  left: -25px;
  background-color: rgb(255, 255, 255);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 200px;
  border: 1px solid #edf1ff;

}

/* .dropdown-menu1::before {
  content: "";
  position: absolute;
  top: -11px;
  right: 15px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
} */

.dropdown-menu1.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu1.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

.h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-text-color);
  line-height: 1.2rem;
}

.h3 .span {
  font-size: 14px;
  color: var(--secondary-text-color);
  font-weight: 400;
}

.dropdown-menu1 ul li {
  padding: 10px 0;
  /* border-top: 1px solid rgba(0, 0, 0, 0.05); */
}

.dropdown-menu1 ul li:hover a {
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-decoration: none;
}

.dropdown-menu1 ul li:hover img {
  opacity: 1;
  cursor: pointer;
}

.dropdownItem1 {
  margin-left: 10px;
  display: flex;
}

.dropdownItem1 .anhItem {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed);
}

.dropdownItem1 .iconItem {
  max-width: 100px;
  margin-left: 10px;
  transition: var(--speed);
}

.menu-container {
  text-align: center;
}