.results-wrapper {
    margin: 1rem 1rem 1rem 0;
    padding: 0.5rem;
}

.result-span {
    text-align: left;
    padding: 0.5rem 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.customborder {
    border-bottom: 4px solid #d19c97;
    transition: 100ms;
}

.customborder:hover {
    /* border-width: 6px; */
    background-color: lightskyblue;
    color: white;
    border-bottom: 0;
    border-top: 4px solid #d19c97;
    transition: 100ms;
}