.prev-container {
    width: 336px;
    height: 252px;
    border: 1px solid lightgray;
    border-radius: 1px;
    padding: 5px;
}

.prev-container>img {
    width: 100%;
    max-width: 336px;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 1600px) {
    .prev-container {
        width: auto;
        height: auto;
    }
}

.custom-file-input1 {
    background-color: #d70018;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
}

.custom-file-input1:hover {
    background-color: #aa000e;
    color: white;
    cursor: pointer;
}