.aEffect {
  border-bottom: #d70018;
  color: #000000;
  margin: 0 -.25rem;
  padding: 0 .25rem;
}

.aEffect:hover {
  padding-bottom: 2px;
  border-bottom: 3px solid #d70018;
}

/* .btnclick {
  background-color: #d70018 !important;
}

.btnclick::after {
  background-color: #d70018 !important;
} */