.aEffect {
  color: #000000;
  margin: 0 -.25rem;
  padding: 0 .25rem;
}

Link.aEffect:hover {
  color: #d70018;
}

.nav-link.active .aEffect {
  padding-bottom: 4px;
  border-bottom: 3px solid #d70018;
  color: #d70018 !important;
  transition: 0.1s;
}

.aEffectMobile {
  color: #000000;
  margin: 0 -.25rem;
  padding: 0 .25rem;
}

.nav-link.active .aEffectMobile {
  color: #d70018 !important;
}